.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.leaflet-container {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
